---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { cn } from "@/utils/cn";

import { WIDTHS } from "../utils/widths";

interface Props {
  heading: string;
  images: {
    path: string;
    alt: string;
  }[];
}

const { heading, images } = Astro.props;

const allImages = import.meta.glob<{ default: ImageMetadata }>(
  "/public/media/*",
);

const imagesArray = images.map(({ alt, path }) => {
  const image = allImages[path];

  if (!image) {
    throw new Error(`Can't find image /public/media/${image}`);
  }

  return {
    src: image(),
    alt,
  };
});
---

<section class="my-5 sm:my-8">
  <div class="container">
    <h2>{heading}</h2>

    <div class="flex gap-6 flex-wrap items-center">
      {
        imagesArray.map(({ src, alt }) => (
          <div class={cn("w-[calc(50%-12px)] sm:w-[calc(25%-18px)]")}>
            <Image
              class="m-0 w-full aspect-square rounded-2xl"
              src={src}
              alt={alt}
              widths={WIDTHS}
              width={500}
              height={500}
              format="webp"
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
